footer {
    display: flex;
    align-items: center;
    background-color: #222831;
    justify-content: center;
}

.footer-container {
    background-color: #222831;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 300px;

}

.footer-container h1 {
    font-family: "Poppins";
    font-size: 45px;
    font-weight: bold;
    color: #fff;

}

.footer-container p {
    font-family: "Poppins";
    font-size: 20px;
    font-weight: regular;
    margin-top: 20px;
}

.footer-container a {
    color: #00ADB5;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: regular;
    margin-top: 20px;
    gap: 20px;
    height: 40px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.footer-socials a {
    font-size: 30px;
    color: #00bcd4;
    transition: 0.3s;
}

.footer-socials a:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    color: white;
}