*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    text-decoration: none;
    list-style: none;
}

header{
border-bottom: 1px #fff solid;
}

.navbar{
    font-family: "Poppins";
    color: #fff;
    width: 100%;
    height: 60px;
    background-color: #222831;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h1{
    margin-left: 80px;
    font-weight: bold;
}
.navbar ul li a{
    color: #fff;


}

.navbar-ul{
    display: flex;
    font-size: 18px;
    font-weight: regular;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-right: 100px;
}

/* ----------------------_________SECTION 1-HOME PAGE____________---------------------- */
.section1container{
   margin-left: 100px;
}
#homepage{

    background-color:#222831 ;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#homepage h1{
    margin-bottom: 0px;
    font-family: "Poppins";
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    width: 700px;
}


#homepage h1 span{
    margin-bottom: 0px;
    font-family: "Poppins";
    color: #00ADB5;
    font-size: 50px;
    font-weight: bold;
   
}

#homepage p{
    margin-top: 20px;
    margin-bottom: 300px;
    font-family: "Poppins";
    color: #fff;
    font-size: 20px;
    font-weight: regular;
}

.homepage-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.homepage-img{
        margin-top: 100px;

    position: relative;
}
.homepage-img-man{
    position: absolute;
    width: 400px;
    height: 400px;  
    top: 200px;
    left: 0;    
}
/* ______________________SECTION 2-ABOUT PAGE__________________ */

#about{
    background-color: #222831;
    color: #fff;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
  

}

.section2container{
    margin-left: 100px;
}

#about h1{
    margin-top: 250px;
    margin-bottom: 15px;
    font-family: "Poppins";
    font-size: 45px;
    font-weight: bold;
    color: #fff;

}
#about h1 span{
    color: #00ADB5;
    margin-bottom: 15px;
    font-family: "Poppins";
    font-size: 45px;
    font-weight: bold;
}
#about p{
    font-family: "Poppins";
    font-size: 20px;
    font-weight: regular;
    margin-bottom: 100px ;
}